*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ferrarisans;
}
@font-face {
    font-family: ferrarisans;
    src: url(./assets/fonts/Ferrari-SansMedium.ttf);
}
@font-face {
    font-family: productitalicsans;
    src: url(./assets/fonts/Ferrari-SansRegularItalic.ttf);
}
body{
    width: 100vw;
    background-color: black;
    overflow-x: hidden;
    padding: 3vh;
}
body::-webkit-scrollbar{
    width: 1vh;
}
body::-webkit-scrollbar-thumb{
    width: 1vh;
    height: 10%;
    background-color: darkred;
    border-radius: 10vh;
}
body::-webkit-scrollbar-track-piece{
    width: 1vh;
    height: 0.1vh;
    background-color: black;
    border-radius: 10vh;
}
#arrow{
    color: black;
    font-size: 5vh;
    position: fixed;
    left: 1vw;
    top: 3vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vh;
}
#arrow:active{
    color: red;
}
#nameheading,#fulltsarckdeveloper{
    position: relative;
    top: 15vh;
    left: 4vw;
    color: aliceblue;
    font-size: 2.6em;
    font-family: productitalicsans;
}
#fulltsarckdeveloper{
    font-size: 1.5em;
    left: 4vw;
}
#profile_image{
    width: 40vh;
    border-radius: 0vh 0vh 20vh 20vh;
    position: relative;
    top: -5vw;
    left: 1vh;
    transform: rotateZ(30deg);
}
#red_bar{
    width: 50vw;
    height: 30vh;
    background-color: red;
    position: relative;
    transform: rotateZ(-30deg);
    top: -11vh;
    left: 65vw;
    border-radius: 17vh 0vh 0vh 17vh;
    overflow-y: hidden;
}
.red_letter{
    color: red;
    font-family: productitalicsans;
}
.heading{
    color: white;
    font-size: 5vh;
    position: relative;
    left: -33vw;
    top: -10vh;
}
.container_div{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}
.para,#skills_container{
    width: 60%;
    font-size: 3vh;
    padding: 2vh;
    background-color: gray;
    border: 1vh solid lightgray;
    position: relative;
    left: 6vw;
    top: -10vh;
}
.para:hover{
    background-color: lightgray;
    border: 1vh solid gray; 
}
#journey_heading,#skills_heading,#indriduction_heading{
    position: relative;
    left: 6vw;
}
#journey_div{
    margin-top: 6vh;
}
#journey_div_para{
    width: 135%;
}
#skills_div{
    margin-top: 7vh;
}
.skills,.soft_skills{
    cursor: pointer;
    transition: all 100ms linear ;
}
.skills:hover,.soft_skills:hover{
    color: orange;
}
#skills_container,#soft_skills_conatiner{
    width: 50%;
    color: white;
    border: none;
    background-color: gray;
    transition: all 100ms linear ;
}
#skills_container:hover,#soft_skills_conatiner:hover{
    border: 1vh solid lightgray; 
}
#skills_container,#soft_skills_conatiner{
    width: 79vw;
}
#soft_skills_heading{
    color: white;
    font-size: 2em;
    position: relative;
    left: 6vw;
}
#soft_skills_conatiner{
    padding: 2vh;
    position: relative;
    left: 6vw;
}
#soft_skills{
    margin-bottom: 10vh;
}
#logo_container{
    width: 81.5%;
    height: 20vh;
    font-size: 7vh;
    margin-top: 7vw;
    position: relative;
    left: 6vw;
    background-color: royalblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.a_tags{
    color: black;
}
.a_tags:hover{
    color: white;
}
@media only screen and (max-width:780px){
    #red_bar{
       position: relative;
       top: 0vh;
       left: 80vh;
       width: 100vw;
    }
    #journey_div_para{
        width: 130vw;
    }
    #skills_container,#soft_skills_conatiner,#logo_container{
        width: 79vw;
    }
}
@media only screen and (max-width:425px){
    body{
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow-x: hidden;
        padding: 0vh;
        padding-bottom: 2vh;
    }
    #nameheading{
        font-size: 5vh;
    }
    #fulltsarckdeveloper{
        font-size: 2.5vh;
        position: relative;
        left: -4%;
        
    }
    #journey_heading,.heading{
        position: relative;
        left: 0vh;
    }
    #red_bar{
        display: none;
    }
    .container_div{
        position: relative;
        top: 30vh;
    }
    #journey_div_para{
        width: 95%;
    }
    #journey_div_para,#intro_div{
        position: relative;
        left: 0vh;
    }
    .para{
        width: 90%;
    }
    .container_div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #soft_skills_heading{
        position: relative;
        top: 0vh;
    }
    #soft_skills_div,#skills_div{
        width: 95%;
    }
    #skills_div{
        position: relative;
        left: -5%;
    }
    #soft_skills_div{
        margin-top: 25vh;
    }
    #skills_conatiner{
        position: relative;
        top: 15vh;
        left: 0vh;
    }
    #soft_skills_conatiner,#skills_container{
        font-size: 2vh;
        width: 90%;
    }
    #logo_container{
        width: 80%;
        height: fit-content;
        flex-direction: row;
        position: relative;
        left: 1%;
    }
    
}