*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ferrarisans;
}
@font-face {
    font-family: ferrarisans;
    src: url(./assets/fonts/Ferrari-SansMedium.ttf);
}
body{
    width: 100vw;
    /* height: 200vh; */
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hide;
}
body::-webkit-scrollbar{
    width: 1vh;
}
body::-webkit-scrollbar-thumb{
    width: 1vh;
    height: 10%;
    background-color: red;
    border-radius: 10vh;
}
body::-webkit-scrollbar-track-piece{
    width: 1vh;
    height: 0.1vh;
    background-color: black;
    border-radius: 10vh;
}
#arrow{
    color: black;
    font-size: 2em;
    position: fixed;
    left: 1vw;
    top: 3vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vh;
}
#arrow:active{
    color: red;
}
.educationdivs{
    width: 80%;
    height: auto;
    background-color: purple;
    border-radius: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    column-gap: 4vh;
    cursor: pointer;
    padding: 3vw;
    overflow: auto;
    padding: 6vh;
    margin: 7vh;
}
.heading:hover{
    color: white;
    text-shadow: none;
}
.heading{
    color: purple;
    text-shadow: 0vh 0vh 0.3vh white,0vh 0vh 0.3vh white,0vh 0vh 0.6vh white,0vh 0vh 0.4vh white;
    transition: color 0.2s;
}
.collage,.passedoutin,.cgpa{
    font-size: 1.6em;
    color: white;
    /* position: relative; */
    /* top: 2vh; */
}
.collage_name,.passedoutin_heading,.cgpa_heading,.school_name{
    color: gold;
}
#inter_heading{
    font-size: 1.7em;
}
.intercontents{
    font-size: 1.5em;
}
@media only screen and (max-width:425px){
    .educationdivs{
        height: auto;
    }
    #inter_heading{
        font-size: 3vh;
    }
}
