*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ferrarisans;
}
@font-face {
    font-family: ferrarisans;
    src: url(../../assets/fonts/font/Ferrari-SansMedium.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hide;
}
body::-webkit-scrollbar{
    width: 1vh;
}
body::-webkit-scrollbar-thumb{
    width: 1vh;
    height: 10%;
    background-color: red;
    border-radius: 10vh;
}
body::-webkit-scrollbar-track-piece{
    width: 1vh;
    height: 0.1vh;
    background-color: black;
    border-radius: 10vh;
}
#arrow{
    color: black;
    font-size: 2em;
    position: fixed;
    left: 1vw;
    top: 3vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vh;
}
#arrow:active{
    color: red;
}
#project1_container{
    width: 80vw;
    /* height: ; */
    background-color: olive;
    padding: 2.5vw;
    text-align: center;
    border-radius: 10vh;
}
.goldcolorspan{
    color: darkblue;
}