*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ferrarisans;
}
@font-face {
    font-family: ferrarisans;
    src: url(../../assets/fonts/font/Ferrari-SansMedium.ttf);
}
body{
    width: 100vw;
    /* height: 450vh; */
    background-image: linear-gradient(darkblue,darkred);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hide;
    padding: 3vw;
}
body::-webkit-scrollbar{
    width: 1vh;
}
body::-webkit-scrollbar-thumb{
    width: 1vh;
    height: 10%;
    background-color: darkred;
    border-radius: 10vh;
}
body::-webkit-scrollbar-track-piece{
    width: 1vh;
    height: 0.1vh;
    background-color: black;
    border-radius: 10vh;
}
#arrow{
    color: black;
    font-size: 2em;
    position: fixed;
    left: 1vw;
    top: 3vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vh;
}
#arrow:active{
    color: red;
}
#resume_heading{
    font-size: 2em;
    color: white;
    /* position: relative;
    top: 1em; */
}
#resume1container,#resume2container{
    width: 80%;
    height: 100vw;
    background-image: url(../../assets/images/visvesvararao\ resume_page-0001.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* position: absolute;
    top: 20%; */
    cursor: pointer;
    transition: border 0.1s;
}
#resume1container:hover,#resume2container:hover{
    border: 0.5vh solid royalblue;
}
#resume2container{
    background-image: url(../../assets/images/visvesvararao\ resume_page-0002.jpg);
    width: 80%;
    height: 100vw;
    /* position: absolute;
    top: 230%; */
}
#download_button{
    /* position: absolute;
    top: 440%;
    left: 45%; */
    padding: 1vh;
    background-image: linear-gradient(to right,);
    border-radius: 10vh;
    outline: none;
    border: none;
    cursor: pointer;
}
#download_button:hover{
    box-shadow: 0vh 0vh 1vh white;
    background-color: crimson;
    color: black;
}