*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: ferrarisans;
}
@font-face {
    font-family: ferrarisans;
    src: url(Ferrari-SansMedium.ttf);
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hide;
}
body::-webkit-scrollbar{
    width: 1vh;
}
body::-webkit-scrollbar-thumb{
    width: 1vh;
    height: 10%;
    background-color: red;
    border-radius: 10vh;
}
body::-webkit-scrollbar-track-piece{
    width: 1vh;
    height: 0.1vh;
    background-color: black;
    border-radius: 10vh;
}
#arrow{
    color: black;
    font-size: 2em;
    position: fixed;
    left: 1vw;
    top: 3vh;
    background-color: white;
    border-radius: 50%;
    padding: 0.5vh;
}
#arrow:active{
    color: red;
}
#skillscontainer{
    display: flex;
    justify-content: center;
    /* align-items: flex-start; */
    flex-direction: column;
    gap: 3vh;
}
.skilldivs{
    width: 70vw;
    height: 15vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* row-gap: 10vh; */
    padding: 2vw;
    transition: all 1s ease-in-out ;
    border-radius: 10vh;
    overflow: auto;
}
.skilldivs:hover{
    height: 40vh;
    transform: scale(1.2);
    justify-content: flex-start;
    border: 0.1vh solid white;
    border-radius: 4vh;
}
.navybluespan{
    color: darkblue;
}
.paragraphs{
    display: none;
}
.skilldivs:hover .paragraphs{
    display: inline;
   color: white;
}
.skilldivs:hover #pretag{
    display: inline;
   color: white;
}
.skilldivs::-webkit-scrollbar{
    width: 0vh;
}
#backend_skills{
    text-align: center;
}
#pretag{
    font-size: 0.8em;
    display: none;
    overflow: hidden;

}
